@font-face {
  font-family: 'book';
  src: url('./Typeface/AirbnbCerealApp-Book.woff2') format('woff2'),
      url('./Typeface/AirbnbCerealApp-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'light';
  src: url('./Typeface/AirbnbCerealApp-Light.woff2') format('woff2'),
      url('./Typeface/AirbnbCerealApp-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'medium';
  src: url('./Typeface/AirbnbCerealApp-Medium.woff2') format('woff2'),
      url('./Typeface/AirbnbCerealApp-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

